.scoreContainer {
  width: auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

#canvas {
  display: flex;
  flex-direction: row;
  /* margin-top: 10px; */
  justify-content: center;
  /* margin-left: 250px; */
}

h1 {
  display: flex;
  height: 50px;
  width: auto;
  justify-content: center;
  align-content: center;
  font-family: monospace;
}

#defaultCanvas0 {
  border: 3px black solid;
}
